Package: com.ahmad.mellat
Name: Mellat
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypass login screen in Mellat Mobile Banking application.
Maintainer: Ahmad
Author: Ahmad
Section: Tweaks
